{% extends 'base.html' %}

{% block head %}
<title>Study Record</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Study Record</h1>
    <a style="text-align: center;" href="/add/record">Add new record</a>
    {% if records|length < 1 %}
    <h4 style="text-align: center;">There are no records of your studies. Start now!</1>
    {% else %}
    <h4 style="text-align: center;">Your last {{records|length}} records</h4>
    <table>
        <tr>
            <th>Subject</th>
            <th>Topic</th>
            <th>Date</th>
            <th>Length</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
            <tr>
                <td><a href="/view/subject/{{ record.subject }}">{{ record.subject }}</a></td>
                <td><a href="/view/topic/{{ record.subject }}/{{ record.topic }}">{{ record.topic }}</a></td>
                <td><a href="/view/date/{{ record.date_created.date().strftime('%Y-%m-%d') }}">{{ record.date_created.date() }}</a></td>
                <td>{{ record.study_length//60 }} h {{ record.study_length%60 }} min</td>
                <td>{{ record.comment }}</td>
                <td>
                    <a href="/delete/record/{{record.id}}">Delete</a>
                    <br>
                    <a href="/edit/record/{{record.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <a href="/add/subject">Add new subject</a>
    <br>
    <a href="/add/topic">Add new topic</a>
    <br>
    <table>
        <tr>
            <th>Subjects</th>
        </tr>
        {% for s in subjects %}
        <tr><th><a href="/view/subject/{{ s }}">{{s}}</a></th></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}