{% extends 'base.html' %}

{% block head %}
<title>Study Record: {{subject}}</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">{{subject}}</h1>
    {% if records|length < 1 %}
    <h4 style="text-align: center;">There are no records of you studying {{subject}}. Start now!</1>
    {% else %}
    <table>
        <tr>
            <th>Topic</th>
            <th>Date</th>
            <th>Length</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record.topic }}</td>
                <td>{{ record.date_created.date() }}</td>
                <td>{{ record.study_length//60 }} h {{ record.study_length%60 }} min</td>
                <td>{{ record.comment }}</td>
                <td>
                    <a href="/delete/{{record.id}}">Delete</a>
                    <br>
                    <a href="/update/{{record.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    {% if topics|length < 1 %}
    <h4 style="text-align: center;">You haven't created any topics for {{subject}}. Create one now!</1>
    {% else %}
    <table>
        <tr>
            <th>Topic</th>
        </tr>
        {% for t in topics %}
        <tr>
            <th>{{ t }}</th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <a href="/add/topic">Add new topic</a>
    <br>
    <a href="/">Go back</a>
</div>
{% endblock %}