{% extends 'base.html' %}

{% block head %}
<title>Study Record: {{date}}</title>
{% endblock %}

{% block body %}
<div class="content">
    <table style="border: none;">
        <tr>
            <td><a href="/view/date/{{date}}/prev">Previous Day</a></td>
            <th><h1 style="text-align: center;">{{date}}</h1></th>
            <td><a href="/view/date/{{date}}/next">&nbsp;  Next Day  &nbsp;</a></td>
        </tr>
    </table>
    <a style="text-align: center;" href="/add/record">Add new record</a>
    {% if records|length < 1 %}
    <h4 style="text-align: center;">There are no records of you studying on {{date}}. Start now!</1>
    {% else %}
    <table>
        <tr>
            <th>Subject</th>
            <th>Topic</th>
            <th>Length</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
            <tr>
                <td><a href="/view/subject/{{ record.subject }}">{{ record.subject }}</a></td>
                <td><a href="/view/topic/{{ record.subject }}/{{ record.topic }}">{{ record.topic }}</a></td>
                <td>{{ (record.study_length//60) }} h {{ record.study_length%60 }} min</td>
                <td>{{ record.comment }}</td>
                <td>
                    <a href="/delete/record/{{record.id}}">Delete</a>
                    <br>
                    <a href="/edit/record/{{record.id}}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <a href="/">Go back</a>
</div>
{% endblock %}