{% extends 'base.html' %}

{% block head %}
<title>Study Record: {{subject}} -- {{topic}}</title>
{% endblock %}

{% block body %}
<div class="content">
    <table style="border: none;">
        <tr>
            <td><a href="/view/subject/{{subject}}/prev">Previous Subject</a></td>
            <th><h1 style="text-align: center;">{{subject}}</h1></th>
            <td><a href="/view/subject/{{subject}}/next">&nbsp;  Next Subject  &nbsp;</a></td>
        </tr>
        <tr>
            <td><a href="/view/topic/{{subject}}/{{topic}}/prev">Previous Topic</a></td>
            <th><h1 style="text-align: center;">{{topic}}</h1></th>
            <td><a href="/view/topic/{{subject}}/{{topic}}/next">&nbsp;  Next Topic  &nbsp;</a></td>
        </tr>
    </table>
    {% if message!="" %}
    <h4 style="text-align: center;">{{message}}</h4> 
    {% endif %}
    <!-- <h1 style="text-align: center;">{{subject}} -- {{topic}}</h1> -->
    <a style="text-align: center;" href="/add/record">Add new record</a>
    {% if records|length < 1 %}
    <h4 style="text-align: center;">There are no records of you studying {{topic}}. Start now!</1>
    {% else %}
    <table>
        <tr>
            <th>Date</th>
            <th>Length</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
            <tr>
                <td><a href="/view/date/{{ record.date_created.date().strftime('%Y-%m-%d') }}">{{ record.date_created.date() }}</a></td>
                <td>{{ (record.study_length//60) }} h {{ record.study_length%60 }} min</td>
                <td>{{ record.comment }}</td>
                <td>
                    <a href="/delete/record/{{record.id}}">Delete</a>
                    <br>
                    <a href="/edit/record/{{record.id}}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
</div>
{% endblock %}